$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: 'Inter', sans-serif;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;



// Introducing dark-theme variables

$primary-d: #AEC7F6;
$primary-light-d: #292A2C;
$gray-light: #E5E7EB;
$gray-lighter: #c8c8c8;
$light-dark-d: #374151;
$text-color-d: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color-d: #777792;
$light-overlay-d: #36383B;
$danger-d: #FFA07A;
$success-d: #308557;
$btn-color-d: #112F6B;
$body-bg-d: #0D0D0E;

$instructor-input-border-color: $gray-lighter;
$light-theme-switch-bg-color: #0E65C0;
$dark-theme-switch-bg-color: #717D8A;

$warning-400: #ffe340;
$warning-700: #9c4607;
$warning-accent-700: #fbeebf;

$page-color-transition: transparent .2s ease, color .2s ease;

// ====================
// lms - Wikimedia - variables
// ====================

// ----------------------------
// #COMPONENT SIZING
// ----------------------------
$header-logo-width: 60px !default;
$header-logo-height: 36px;
$header-user-image-size: 40px !default;
$baseline: 20px !default;

// ----------------------------
// #COLORS
// ----------------------------
$theme-blue:                #0E65C0;
$cornflower-blue:           $theme-blue;
$butterfly-bush:            #6b4ba1;
$base-font-color:           #000;
$gray:                      rgb(127,127,127);
$footer-bg:                 #f6f6f6;
$m-blue-d6:                 #256a97 !default;
$blue:                      rgb(0, 159, 230) !default;
$white:                     rgb(255, 255, 255) !default;
$m-blue-d5:                 rgb(0, 158, 231) !default;
$gray-l4:                   mix(white,$gray,80%);
$gray-l5:                   #f2f2f2;
$primary:                   $theme-blue;
$action-primary-bg:         $theme-blue;

$link-color:                $theme-blue;
$link-hover:                $cornflower-blue;
$link-visited:              $butterfly-bush;
$error-color:               rgb(203, 7, 18) !default;

// Course Discover
$course-card-height: ($baseline*18) !default;


$font-family-sans-serif: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;

$font-family-open-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-trebuchet: 'TrebuchetMS', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-montserrat: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-source-sans-pro: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-noto-kufi-arabic: 'Noto Kufi Arabic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-sans: $font-family-montserrat;
