.progress-content {

  .section {
    background: $footer-bg;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .subsection {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .slide {
    padding-top: 15px;
  }

  .page-content-main {
    h2 {
      margin-bottom: 13px;
      font-size: 20px;
    }

    h3 {
      margin-bottom: 8px;
      font-size: 18px;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .progress {
    height: 5px;
  }

  .head-info {
    padding: 0;

    .title {
      opacity: .5;
      font-size: 12px;
      display: block;
      text-align: center;
    }

    .value {
      font-size: 15px;
      display: block;
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      li {
        flex: 0 0 33.33%;
      }
    }
  }

  .card-header {
    position: relative;

    &.collapsed {
      border: 0;
    }
  }

  .card-body {
    padding-left: 40px;
  }

  h2, h3, h4,
  .head {
    position: relative;
  }

  table {
    margin-bottom: 0;
    font-size: 14px;
  }

  .arrow {
    position: absolute;
    top: 2px;
    left: -25px;
    transition: transform .3s ease;
  }

  .collapsed {
    .arrow {
      transform: rotate(-90deg);
    }
  }

  .unit {

    .card-header,
    .card-body {
      padding-left: 25px;

      .arrow {
        left: -15px;
      }
    }

    &.card {
      border-radius: 0;

      &:first-child {
        border-radius: 2px 2px 0 0;
      }

      &:last-child {
        border-radius: 0 0 2px 2px;
      }
    }

    .slide {
      padding-top: 0;
    }

    td,
    th {
      text-align: center;

      &:first-child {
        width: 60%;
        text-align: left;
      }
    }
  }

  .wrapper-msg.wrapper-auto-cert {
    @include margin(0, 0, 0, 0); // Overrides .wrapper-msg
    @include padding(0, 0, 0, 0); // Overrides .wrapper-msg
  
    background: none; // Overrides .wrapper-msg
  
    .errors-info {
      margin-top: $baseline;
      margin-bottom: $baseline;
      color: $error-color;
    }
  
    .auto-cert-message {
      margin: $baseline 0;
      padding: $baseline;
      border-left: 3px solid $primary;
      background: $gray-l5;
  
      .has-actions {
        .msg-content {
          width: 75%;
          .title {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 600;
          }
        }
  
        .msg-actions {
          @extend %t-copy-base;
  
          display: inline-block;
          width: calc(25% - 5px);
  
          .btn {
            @extend %btn-primary-blue;
            @extend %t-weight4;
  
            text-shadow: none;
          }
        }
      }
    }
  }
  
}
